{% load static %}

<!DOCTYPE html>
<html lang="cs-CZ">

<head>
    {% block head %}

    <title>Hive monitoring</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <!-- <script src="{% static 'js/down_device.js' %}"></script> -->
    <script src="{% static 'js/down_message.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    {% endblock %}
</head>

<body>
  <frameset cols="*,500,*">
    {% block body %}

    <p>-</p>

    {% endblock %}
</body>

</html>
